@import '../../css/config';

.container {
  box-shadow: var(--shadow-depth-3);
  border-radius: 4px;
  background-color: #fff;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;

    .title {
      text-transform: uppercase;
      margin: 0;
      font-size: 16px;
      color: var(--c-gray);
    }
  }
}

.tasks {
  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--c-divider);

    .skeleton {
      padding: 12px 24px 12px 24px;
      width: 100%;
    }

    .taskInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &:hover {
      background-color: #fafafa;
    }

    &.done {
      .input {
        text-decoration: line-through;
        color: var(--c-gray);
      }
    }

    .input {
      border: 0;
      padding: 12px 24px 12px 0;
      width: 300px;
      @media (max-width: 768px) {
        width: 200px;
      }
      background-color: transparent;
      transition: all 0.3s;
      color: var(--c-black);

      &:focus {
        outline: none;
      }
    }

    .icon {
      display: block;
      cursor: pointer;
      padding: 12px 24px 12px 25px;
      width: 14px;
      height: 14px;
      transition: fill 0.3s;
    }

    .trash {
      width: 14px;
      height: 14px;
      transition: all 0.3s;
      cursor: pointer;
      margin: 1px 25px 0 16px;
    }
  }
}
