@import '../../css/config';

.app {
  padding: 96px 48px 128px;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1000px;
}

.users {
  padding-right: 48px;
  width: 40%;
}

.tasks {
  width: 60%;
}

.header {
  padding-bottom: 24px;
  text-align: center;

  .title {
    padding-bottom: 8px;
    line-height: 42px;
    font-family: var(--font-family);
    font-size: 34px;
    color: var(--c-black);
  }

  .lead {
    font-size: 16px;
    color: var(--c-gray);
  }
}

.description {
  margin: 0 auto;
  padding-bottom: 64px;
  width: 560px;
  text-align: center;
  color: var(--c-black);

  a {
    text-decoration: underline;
    transition: all 0.3s;

    &:hover {
      color: var(--c-gray);
    }
  }
}
