.app {
  padding: 96px 48px 128px;
}

.users {
  width: 40%;
}

.tasks {
  width: 60%;
}

.container {
  display: flex;

  @media (min-width: 1200px) {
    margin: 0 auto;
    width: 1000px;
  }

  .users {
    margin: 0 48px 0 0;
  }

  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    align-items: center;

    .users {
      width: 60%;
      margin: 30px 0 0 0;
    }
  }

  .tasks,
  .users {
    @media (max-width: 992px) {
      width: 90%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.header {
  padding-bottom: 24px;
  text-align: center;

  .title {
    padding-bottom: 8px;
    line-height: 42px;
    font-family: var(--font-family);
    font-size: 34px;
    color: var(--c-black);
  }

  .lead {
    font-size: 16px;
    color: var(--c-gray);
  }
}

.description {
  margin: 0 auto;
  padding-bottom: 64px;
  width: 100%;
  text-align: center;
  color: var(--c-black);

  a {
    text-decoration: underline;
    transition: all 0.3s;

    &:hover {
      color: var(--c-gray);
    }
  }
}
