@import '../css/config';

.container {
  box-shadow: var(--shadow-depth-3);
  border-radius: 4px;
  background-color: #fff;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;

    .title {
      text-transform: uppercase;
      margin: 0;
      font-size: 16px;
      color: var(--c-gray);
    }
  }
}

.tasks {
  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--c-divider);

    .taskInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &:hover {
      background-color: #fafafa;
    }

    .selectAssignee {
      margin-left: -20px;
    }

    &.done {
      .input {
        text-decoration: line-through;
        color: var(--c-gray);
      }

      .icon .svg.check {
        fill: #38d2d8;
      }
    }

    .input {
      border: 0;
      padding: 12px 24px;
      width: 300px;
      background-color: transparent;
      transition: all 0.3s;

      &:focus {
        outline: none;
      }
    }

    .icon {
      display: block;
      cursor: pointer;
      padding: 12px 24px;
      width: 14px;
      height: 14px;
      fill: var(--c-gray);
    }

    .icon:hover .trash {
      fill: var(--c-black);
    }

    .trash {
      width: 14px;
      height: 14px;
      transition: all 0.3s;
      transform: translateY(1px) translateX(-25px);
      fill: var(--c-gray);
      cursor: pointer;
    }
  }
}
