@import '../css/config';

.users {
  .container {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: var(--shadow-depth-3);

    .header {
      display: flex;
      justify-content: space-between;
      padding: 16px 24px;
    }
  }

  .title {
    font-size: 16px;
    margin: 0;
    color: var(--c-gray);
  }
}
